<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-th-object="${newsinfo}">
    <div class="container">
            <table>
                <tr th:each="newsInfo : ${selectedItems}">
                    <td>
                        <table>
                                <td>
                                    
                                    <div class ="image">
                                        <img data-th-src="${newsinfo.imageURL}"/><br>
                                    </div> 
                                    <div class="text">
                                        Id: <span th:text="${newsinfo.id}"></span><br>
                                        <strong><span th:text="${newsinfo.title}"></span></strong><br>
                                        <span th:text="${newsinfo.body}"></span><br>
                                        Categories: <span th:text="${newsinfo.categories}"></span><br>
                                        Tags: <span th:text="${newsinfo.tags}"></span><br><br>
                                        Published: <span th:text="${newsinfo.published_on}"></span>
                                        <a data-th-href="${newsinfo.url}">Link</a>

                                    </div>
                                    
                                    
                                </td>
                            </tr>
                        </table>        

                    </td>

                </tr>
            </table>
    </div>

</body>
</html>